@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: red;
}

a:active {
    color: green;
}