body {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* this para default in block element */

/* main {
    background-color: aqua;
    width: 50%;
}

p {
    background-color: lightgray;
} */

/* in inline element */

p {
    background-color: lightgray;
}

/* .opposite {
    background-color: #333;
    color: whitesmoke;
    padding: 20px;
} */

.opposite {
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    padding: 20px;
}