/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */


/* defailte size 16px*/
/*
p {
    font-size: 16px;
}
*/

h1 {
    border: 2px dashed red;
    width: 50%;
}

/*
p {
    font-size: 1rem;
}
*/

h2 {
    font-size: 2rem; /* 32px */
}

p {
    width: 40ch;
}

.one {
    height: 100%;
}