@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@0;1&display=swap');

body {
    padding: 10%;
    font-size: 1.5rem;
    font-family: cursive;
    text-align: justify;
}

h1 {
    font-family: monospace;
}

/* 
input, button {
    font: inherit;
}
 */

p {
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: underline overline; */
    /* text-decoration: underline line-through; */
    /* text-decoration: underline overline line-through; */
    /* text-decoration: underline overline line-through red; */
    /* text-decoration: underline overline line-through red wavy; */
    /* text-decoration: underline overline line-through red wavy 2px; */

    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */

    /* text-align: left; */
    /* text-align: center; */
    /* text-align: right; */
    /* text-align: justify; */
    
    /* text-indent: 5em; */
    
    /* line-height: 2.2; */
    /* letter-spacing: 2px; */
    /* word-spacing: 2px; */

    /* font-weight: 600; */
    /* font-style: italic; */
    /* font-style: oblique; */
    /* font-size: 1.5rem; */
    /* font-family: 'Times New Roman', Times, serif; */

}

.ta {
    font-family: "Tiro Tamil";
    font-style: oblique;
}