/* * {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    border: 2px solid black;
    font-size: 32px;
    border-radius: 25px;
    margin: 30px;
}

h1 {
    background-color: rgb(255, 230, 0);
    border-radius: 25px 25px 0px 0px;
    padding: 20px;
}

ul {
    list-style: none;
}

li {
    font-size: 36px;
    padding: 20px;
    border-bottom: 2px solid black;
}

li:last-child {
    border: none;
    border-radius: 0px 0px 25px 25px;
}

li:hover,
li:focus {
    background-color: #7c7979;
    color: whitesmoke;
    cursor: pointer;
}

a {
    font-style: oblique;
}

a:hover {
    cursor: pointer;
} */

/* ----------------------------------- */
/* In tutorial */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem; /* Set in medile */
    max-width: 600px; 
    font-size: 3rem;
    line-height: 7rem;
}

h1 {
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}

li:hover {
    background: #333;
    color: gold;
    cursor: pointer;
}

li:last-child {
    border-radius: 0 0 2rem 2rem;
}

p a {
    font-style: oblique;
}

p a:hover {
    color: gold;
    cursor: pointer;
    background: #333;
    border-radius: 2rem;
    padding: .1rem;
}